@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

body {
    font-family: Source Sans Pro, Helvetica, sans-serif;
    font-weight: 300;
    background-color: rgb(225, 240, 240);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header and opening times text */

/* Copied some code from https://www.w3schools.com/howto/howto_css_full_page.asp */
#landing-image {
    height: 1050px;
    width: 100%;
    background: url(../images/Landing\ image\ 1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}    

#header-banner {
    width: 100%;
    height: 150px;
    background-color: rgb(225, 240, 240, .7);
    box-shadow: 0 0 10px #000000;
}

#opening-times h2 {
    color: rgb(225, 240, 240);
    font-family: Source Sans Pro, Helvetica, sans-serif;
}

#opening-times h3 {
    color: rgb(225, 240, 240);
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 20px;
}

#opening-times {
    font-size: 85%;
    letter-spacing: 4px;

    width: 450px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(84, 92, 92, .7);

    bottom: 75px;
    right: 150px;

    position: absolute;
}

/* Navigation Links */

#logo-link {
    height: 120px;
    width: 120px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    float: right;
    line-height: 150px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #545C5C;
    text-transform: lowercase;
}

#menu a:hover {
    border-bottom: 1px solid #545C5C;
    font-weight: 500;
}

.active {
    border-bottom: 1px solid #545C5C;
}

#logo-link:hover {
    opacity: 0.6;
}

/* Aesthetic ethos gallery */

#gallery-container {
    width: 100%;
    height: auto;
    background-color: rgb(225, 240, 240, .7);
    /* background-color: tomato; */
}

#aesthetic-ethos-gallery {
    padding: 150px 0;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(225, 240, 240, .7);
    /* background-color: turquoise; */
}

#ethos-images {
    column-count: 3;
    column-gap: 0;
}

#ethos-images > img {
    width: 100%;
    border: 60px solid transparent;
    box-sizing: border-box;
}

/* Footer */

footer {
    height: 150px;
    background-color: rgb(84, 92, 92, .6);
    box-shadow: 0 0 3px rgb(84, 92, 92);
}

.contact-details {
    text-align: center;
    letter-spacing: 2px;    
    font-size: 120%;
    padding: 30px 0;
    color: rgb(225, 240, 240);
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 0 2%;
    color: rgb(225, 240, 240);
}

/* Artworks page */

.buffer {
    width: 100%;
    height: 75px;
}

#artworks-container {
    border-top: 75px solid transparent;
    height: auto;
    width: 100%;
    background-color: rgb(225, 240, 240, .7);
}

#artworks-images {
    width: 600px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(225, 240, 240, .7);
}    

#artworks-images img {
    width: 100%;
    border-bottom: 75px solid transparent;
}

/* Media queries */

/* For larger to medium screen size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #aesthetic-ethos-gallery {
        width: 900px;
    }

    #ethos-images {
        column-count: 2;
    }
    
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        padding-top: 30px;    
        margin-left: 30px;
        margin-bottom: 30px;
        line-height: 25px;
    }

    #header-banner {
        height: 225px;
    }

    #aesthetic-ethos-gallery {
        width: 600px;
    }

    #ethos-images > img {
        border: 20px solid transparent; 
        margin: 0 20px;
    }

    #opening-times {
        left: 0;
    }     
}

/* For medium to smaller screen sizes from 600px and down */
@media screen and (max-width: 600px) {
    #header-banner {
        height: 250px;
    }
    
    #aesthetic-ethos-gallery {
        width: 450px;
    }

    #ethos-images {
        column-count: 1;
    }

    #ethos-images > img {
        /* border: 10px solid transparent;
        margin: 0 20px; */
        /* copied this from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_center */
        display: block;
        margin-left: auto;
        margin-right: auto;  
    }    
    
    #artworks-images {
        width: 450px;   
    }    
}

/* For smaller screen sizes from 450px and down */
@media screen and (max-width: 450px) {
    #opening-times {
        font-size: 70%;
        letter-spacing: 2px;
        width: 350px;
    }
    
    #aesthetic-ethos-gallery {
        width: 350px;
    }

    #ethos-images > img {
        /* border: 10px solid transparent;  */
        /* width: 90%; */
        /* margin: 0 auto;
        border: 0;
        width: 90%; */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #artworks-images {
        width: 350px;
    }        
}